ReWriteEngine On
#ReWriteRule ^(.*).html$ $1.php

ReWriteCond %{REQUEST_FILENAME} !-d
ReWriteCond %{REQUEST_FILENAME} !-f
ReWriteCond %{REQUEST_FILENAME} !-l

ReWriteRule ^(.*)$ index.php?url=$1 [QSA]
